$font: Arial, sans-serif;
$font-size: 30px;
$days-size: 100px;
$pad: 10px;
$gap: 1px;
$border: 1px;
$cols: 7;
$days-color: #eee;
$numbers-color: #000;
$hover-bg: #ffbfcb;
$start-day: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6,
);
